:root {
  font-family: Overpass;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(var(--background));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: normal;

  --secondary: 0, 0%, 100%;
  --border: 0, 0%, 67%;
  --background: 216, 8%, 22%;
  --error: 5, 78%, 69%;
  --warning: 50, 78%, 69%;
  --success: 100, 78%, 69%;
  --code: 0,0%,10%;
  --text: 0,0%,90%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

